################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OriginFinancial.CodingChallenge.AppService/bin/Debug/netcoreapp3.1
