################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OriginFinancial.CodingChallenge.AppService/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.AppService/obj
/OriginFinancial.CodingChallenge.Data/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Data/obj
/OriginFinancial.CodingChallenge.Domain/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Domain/obj
/OriginFinancial.CodingChallenge.Infra.CrossCutting/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Infra.CrossCutting/obj
/OriginFinancial.CodingChallenge.Service/.vs/OriginFinancial.CodingChallenge.Service/v16
/OriginFinancial.CodingChallenge.Service/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Service/obj
/OriginFinancial.CodingChallenge.Service/.vs/OriginFinancial.CodingChallenge.Service/config
/OriginFinancial.CodingChallenge.Service/.vs/OriginFinancial.CodingChallenge.Service/DesignTimeBuild
/OriginFinancial.CodingChallenge.Infra.Mocked.IoC/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Infra.Mocked.IoC/obj
/OriginFinancial.CodingChallenge.Infra.MockedData/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Infra.MockedData/obj
/OriginFinancial.CodingChallenge.Test.Service/bin/Debug/netcoreapp3.1
/OriginFinancial.CodingChallenge.Test.Service/obj
